@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor_cajas_ofe{
    margin: 10px 10px;
    h2{
        display: flex;
        justify-content: center;
    }
    
}
.iconos-caja{
   
    
    
    padding-top: 10px;
    p{
        padding: 0 10px;
        text-align: center;  
    }
}

.cajas_ofe .caja_ofe .iconos-caja img{
    width: 50px;
    border-radius: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}

/*alineacion horizontal cajas*/

.cajas_ofe{
    display:flex;
    justify-content:space-evenly;
    
}

/*.cajas .caja{
     
    medidas sin rango de las cajas
    background: var(--green);
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px; 
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);  sombra alrededor de la caja
}*/

/*medidas y alineacion imagen interna de las cajas*/
.cajas_ofe .caja_ofe img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 6px solid v.$lead;
    border-radius : 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}


/*tamaño cajas centro eleccion*/
// .cajas_ofe .caja_ofe{
//     height: 50%;
//     width: 35%;
//     background-color: transparent;
//     border: none;
//     border-bottom: 10px solid v.$border-color;
//     color: v.$tex-white;
//     font-size: 16px;
//     margin: 0;
// }

.cajas_ofe .caja_ofe  p {
    font-weight: 100;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 10px;
}

.cajas_ofe .caja_ofe  h3 {
    font-weight: 100;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 10px;
}

/*MARCO CAJAS*/
.cajas_ofe .caja_ofe{
    margin-top: 10px;
    border-color: v.$crema;
    border: 10px solid v.$border-color;
    padding: 10px 10px;
    border-radius: 20px;
    backdrop-filter: v.$blur;
    width: 22%;
    
}