@use 'base/mixins' as m;
@use 'base/variables' as v;


.mobile-menu{
    @include m.tablet {
        display: none;    
    }
    img{
        width: 5rem;
    }
}
.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.navegacion{
    display: none;
    @include m.tablet {
        display: flex;
        align-items: center;
            
    }
}

.mostrar {
    display: block;
}
  