@use 'base/variables' as v;

//validacion de registro

.alerta{
    padding: 2px;
    text-align: center;
    color: v.$tex-white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    margin: auto; //estaba 2px pero con esto lo centro

    &.error{
        background-color: v.$rojo;
    }

    &.exito{
        color:v.$color-boton;
        background-color: v.$tex-white;
        max-width: 210px;
        border-radius: 5px;
        margin-bottom: 5px;
        
        
    }
}